/* light pink: EEF5FF
    bluish violet: B4D4FF
    dark bluish violet: 86B6F6
    dark green:176B87
 

* {
    font-family: 'Diphylleia', serif;==
    font-family: 'Taviraj', serif;==
    font-family: 'Krona One', sans-serif;==
    
}
*/

* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-color: #dbeded;
    background-color: #ffffff;
    font-family: 'Taviraj', serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    background-color: #365486;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
    align-items: center;
    height: 4rem;
    width: 100%;

}

nav .title {
    padding-left: 1.5rem;
    font-family: 'Allura', cursive;
    font-size: 1.5rem;
}

nav .title a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

nav div.nav-tab ul {
    display: flex;
    flex-direction: row;
}

.nav-tab li {
    list-style: none;
    padding: 0rem 1.1rem;
}

.nav-tab li a{
    font-size: 1rem;
}

@media (max-width:720px) {
    nav .title {
        font-size: 1rem;
    }
    .nav-tab li {
        padding: 0rem 0.5rem;
    }
    .nav-tab li a{
        font-size: 0.75rem;
    }
}

.nav-tab li a {
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    color: #DCF2F1;
    cursor: pointer;
}

/* ======================
Banner section
====================== */
.banner {
    background: url(/banner.jpeg)no-repeat;
    height: 100vh;
    background-position: cover;
    background-size: cover;
}

.banner-div-box {
    display: flex;
    flex-direction: column;
    height: 2rem;
    padding: 50vh 0 0 2vw;
}

.banner-text {
    font-size: 3rem;
    font-family: 'Krona One', sans-serif;
    color: #FFB996;
}

.tagline {
    color: #fefefe;
    font-size: 1.5rem;
}

@media (max-width:720px) {
    .banner{
        background-position:right;
    }
    .banner-text{
        font-size: 2.3rem;
    }
    .tagline{
        font-size: 1.2rem;
    }
}

@media(max-width:540px) {
    .banner-text {
        font-size: 2rem;
    }
    .tagline{
        font-size: 1rem;
    }
}


/* ======================
Common style tags
====================== */
section {
    padding: 1.5rem;
}

.section-head {
    font-family: 'Krona One', sans-serif;
    border: 2px solid #fcb3b3;
    border-radius: 50rem;
    width: 7rem;
    margin: 2rem auto 0;
    padding: 0.25rem;
    text-align: center;
    background-color: #f9d0d0;
}

.top-pad {
    padding-top: 2.2rem;
}

.sub-head {
    color: #274a87;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.sub-head-2 {
    font-size: 1.4rem;
    color: #0088ab;
}

.content {
    background-color: rgba(237, 237, 237, 0.463);
    padding: 1rem;
    margin-top: 2rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.desc {
    font-size: 1.2rem;
    background-color: #ffffff;
}

.icon {
    font-size: 1.2rem;
    padding-right: 1rem;
    color: #365486;
}

.div-box {
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.bot-border {
    margin-bottom: 0rem;
}

.flex-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-cont {
    display: flex;
    flex-direction: row;
}

@media (max-width:720px){
    .sub-head{
        font-size: 1.75rem;
    }

    .sub-head-2{
        font-size: 1.25rem;
    }

    .icon{
        font-size: 1rem;
    }

    .desc{
        font-size: 1rem;
    }
}

/* ======================
About section
====================== */

#about-desc {
    text-align: justify;
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#edu-desc {
    background-color: rgba(237, 237, 237, 0.463);
}

.inst,
.marks {
    padding-left: 2rem;
    font-size: 1rem;
}

/* ======================
Skill section
====================== */

.level {
    padding-left: 2.1rem;
    font-size: 1rem;
}

.intermediate {
    color: rgb(255, 196, 0);
}

.beginner {
    color: red;
}

.html {
    color: #F06427;
}

.css {
    color: #1471B6;
}

.js {
    color: #ECD52D;
}

.bs {
    color: #7431FA;
}

.db {
    color: #117200;
}

/* ======================
Project section
====================== */

.project-head {
    padding-bottom: 1rem;
}

.project-desc {
    padding-left: 1rem;
    text-align: justify;
}

.div-box button {
    font-family: 'Krona One', sans-serif;
    padding: 0.5rem;
    margin: 1rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    background-color: #365486;
    color: #DCF2F1;
    border: 2px solid #2c497a;
}

.div-box button:hover {
    cursor: pointer;
    background-color: #DCF2F1;
    color: #365486;
}

@media (max-width:720px){

}
/* ======================
Contact section
====================== */

.conact-box {
    margin: 2rem 0;
    background-color: #ededed76;
    padding: 1rem;
    font-size: 1.1rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.contact-div-box {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
}

.contact-div-box span {
    color: black;
}

.contact-div-box a {
    cursor: pointer;
    color: black;
}

.con-icon {
    padding: 0 1rem;
    font-size: 1.3rem;
    color: #365486;
}

.first{
    border-top-right-radius: 1.25rem;
}

.last{
    border-bottom-left-radius: 1.25rem;
}

.mobile {
    color: #343434;
}

.gmail {
    color: #fe5900;
}

.linkedin {
    color: #196eff;
}

.github {
    color: #000000;
}

.instagram {
    color: #f900bb;
}

.telegram {
    color: #0246bc;
}

/* ======================
Footer section
====================== */

.footer {
    /* padding: 1rem; */
    background-color: #343434;
    height: 4rem;
    color: #dbeded;
    font-family: 'Taviraj', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 1.2rem;

}