* {
    margin: 0;
    padding: 0;
    cursor: default;
    scroll-behavior: smooth;
}

h1,
h2,
p {
    margin-bottom: 0;
}

body {
    background-color: #dbeded;
    background-color: #ffffff;
    /* background-color: #fff89a36; */
    font-family: 'Taviraj', serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
    background-color: #086E7D;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
    align-items: center;
    height: 4rem;
    width: 100%;

}

nav .title {
    padding-left: 1.5rem;
    font-family: 'Allura', cursive;
    font-size: 1.5rem;
    margin: auto 0;
}

nav .title a {
    text-decoration: none;
    color: #FFF89A;
    margin: auto 0;
    cursor: pointer;
}

nav div.nav-tab ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 0;
}

.nav-tab li {
    list-style: none;
    padding: 0rem 1.1rem;
}

.nav-tab li a {
    font-size: 1rem;
}

@media (max-width:720px) {

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 65px;
        transition: 0.5s;
        background-color: #086d7d82;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }

    nav div.nav-tab ul {
        display: flex;
        flex-direction: column;
    }

    .sidebar a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        padding-left: 1.5rem;
        color: #FFC900;
        text-align: left;
        display: block;
        transition: 0.3s;
    }


    .sidebar a:hover {
        color: #f2db87;
    }


    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }


    .openbtn {
        font-size: 25px;
        cursor: pointer;
        background-color: #086E7D;
        color: white;
        padding: 10px 15px;
        border-radius: 50%;
        border: none;
        text-align: center;
        transition: background-color .5s;
    }


    .openbtn:hover {
        background-color: #218898;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    .nav-tab ul li a {
        color: #FFF89A;
        margin: 0.75rem 0;
    }

    .nav-tab ul li a:hover {
        color: whitesmoke;
    }


    .nav-tab li {
        padding: 0rem 0.5rem;
    }

    nav .title {
        padding-left: 1rem;
    }
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

@media (max-width:430px) {
    nav .title {
        font-size: 0.95rem;
    }

    nav .title {
        padding-left: 0.5rem;
    }
}

/* @media (max-width:400px) {
     nav .title {
        font-size: 0.55rem;
    } 
} */

.nav-tab li a {
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    color: #DCF2F1;
    cursor: pointer;
}

/* ======================
Banner section
====================== */
.banner {
    background: url("../img/banner.jpeg")no-repeat;
    height: 100vh;
    /* background-position: cover; */
    background-position: right;
    background-size: cover;
}

.banner-div-box {
    display: flex;
    flex-direction: column;
    height: 2rem;
    padding: 50vh 0 0 2vw;
}

.banner-text {
    font-size: 3rem;
    font-family: 'Krona One', sans-serif;
    color: #FFB996;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-size: 1.5rem;
    /* text-align:center; */
    /* height:200px;
  width:600px; */
    display: block;
    color: white;
    margin: 0;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: -6px;
}

@media (max-width:720px) {
    .banner-text {
        font-size: 2.3rem;
    }

    .console-container {
        font-size: 1.2rem;
    }
}

@media(max-width:540px) {
    .banner-text {
        font-size: 1.5rem;
    }

    .console-container {
        font-size: 1rem;
    }
}

@media(max-width:400px) {
    .banner-text {
        font-size: 1.2rem;
    }

    .console-container {
        font-size: 0.8rem;
    }
}

/* ======================
Common style tags
====================== */
section {
    padding: 1.5rem;
}

.section-head {
    font-family: 'Krona One', sans-serif;
    border: 2px solid #fcb3b3;
    border-radius: 50rem;
    width: 9rem;
    margin: 2rem auto 0;
    padding: 0.25rem;
    text-align: center;
    background-color: #f9d0d0;
}

.top-pad {
    padding-top: 2.2rem;
}

.sub-head {
    color: #086E7D;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.sub-head-2 {
    font-size: 1.4rem;
    color: #086E7D;
}

.content {
    background-color: rgba(237, 237, 237, 0.463);
    padding: 1rem;
    margin-top: 2rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.desc {
    font-size: 1.2rem;
    background-color: #ffffff;
}

.icon {
    font-size: 1rem;
    padding-right: 1rem;
    margin: auto 0.1px;
    color: #086E7D;
    text-align: center;
}

.div-box {
    background-color: #ffffff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.flex-div {
    display: flex;
    flex-direction: row;
}

.bot-border {
    margin-bottom: 0rem;
}

.flex-cont {
    display: flex;
    flex-direction: row;
}

#edu-desc .flex-cont {
    margin-bottom: 0.75rem;
}

.flex-div-2 {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.level {
    font-size: 1rem;
}

@media (max-width:720px) {
    .sub-head {
        font-size: 1.75rem;
    }

    .sub-head-2 {
        font-size: 1.3rem;
    }

    .icon {
        font-size: 1rem;
    }

    .desc {
        font-size: 1rem;
    }
}

@media (max-width:400px) {
    .sub-head {
        font-size: 1.5rem;
    }

    section {
        padding: 1rem;
    }

    .sub-head-2 {
        font-size: 1.1rem;
    }

    .div-box {
        padding: 0.75rem;
    }

    .desc {
        font-size: 0.85rem;
    }

    .icon {
        font-size: 1rem;
    }
}

/* ======================
About section
====================== */

#about-desc {
    text-align: justify;
    padding: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#edu-desc {
    background-color: rgba(237, 237, 237, 0.463);
}

.inst,
.marks {
    padding-left: 2rem;
    font-size: 1rem;
}

.download-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div .download {
    text-align: center;
    align-items: center;
    padding: 0.5rem;
}

.download i {
    padding-left: 1rem;
    font-size: larger;
}

.download button {
    padding: 0.55rem;
    font-family: 'Krona One', sans-serif;
    font-size: 1rem;
    width: 20rem;
    cursor: pointer;
    border-radius: 2rem;
    background-color: #086E7D;
    color: #ffffff;
    border: 2px solid #2c497add;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.download button:hover {
    border: #086E7D 2px solid;
    background-color: #DCF2F1;
    color: #086E7D;
}

@media (max-width: 750px) {
    .download-btns {
        flex-direction: column;
    }
}

@media(max-width:540px) {
    .download button {
        width: 14rem;
        font-size: 0.8rem;
    }
}

@media (max-width:400px) {
    #about-desc {
        padding: 1rem;
    }

    .inst,
    .marks {
        font-size: 0.85rem;
    }

    .download button {
        width: 15rem;
        font-size: 0.65rem;
    }
}

@media (max-width:350px) {
    .download button {
        width: 10rem;
        font-size: 0.5rem;
    }
}

/* ======================
Skill section
====================== */

.skill-icon {
    font-size: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    color: #086E7D;
    text-align: center;
}

.intermediate {
    color: rgb(255, 196, 0);
}

.beginner {
    color: red;
}

.html {
    color: #F06427;
}

.css {
    color: #1471B6;
}

.js {
    color: #ECD52D;
}

.bs {
    color: #7431FA;
}

.db {
    color: #117200;
}

/* ======================
Project section
====================== */

.project-head {
    padding-bottom: 1rem;
}

.sidebar-desc {
    background-color: #FFC900;
    padding-left: 0.5rem;
}

.project-desc {
    padding-left: 0.5rem;
    background-color: #ffffff;
    text-align: justify;
    font-size: 1.1rem;
    color: #00000096;
}

.project-link {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.div-box button {
    font-family: 'Krona One', sans-serif;
    padding: 0.5rem;
    margin: 1rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    background-color: #086E7D;
    color: #ffffff;
    border: 2px solid #2c497a;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

}

.div-box button:hover {
    cursor: pointer;
    background-color: #DCF2F1;
    color: #086E7D;
}

button,
input,
optgroup,
select,
textarea {
    font-size: 13px;
}

@media(max-width:540px) {
    .project-link {
        flex-direction: row;
        justify-content: space-around;
    }

    .div-box button {
        padding: 0.5rem 1rem;
    }
}

@media (max-width:480px) {

    .project-link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .div-box button {
        padding: 0.5rem 4rem;
    }
}

@media (max-width:400px) {
    .div-box button {
        padding: 0.5rem 2rem;
        font-size: 0.65rem;
    }

    .project-desc {
        font-size: 0.85rem;
    }
}

/* ======================
Contact section
====================== */

.conact-box {
    margin: 2rem 0;
    background-color: #ededed76;
    padding: 1rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.contact-div {
    padding: 1rem 1rem;
    /* width: 2rem; */
    margin: 0.5rem;
    text-align: center;
    background-color: #ffffff;
    box-shadow: inset -1px 0.5px 10px rgba(140, 140, 140, 0.696);
    border-radius: 50%;
}

.contact-div i {
    cursor: pointer;
    font-size: 1.5rem;
}

.contact-div-box {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
}

.contact-div-box .sub-head-2 {
    font-size: 1.3rem;
}

.contact-div-box span {
    color: black;
}

.contact-div-box a {
    cursor: pointer;
    color: black;
}

.con-icon {
    padding: 0.25rem 0.25rem;
    font-size: 1.3rem;
    color: #086E7D;
}

.first {
    border-top-right-radius: 1.25rem;
}

.last {
    border-bottom-left-radius: 1.25rem;
}

.mobile {
    color: #343434;
}

.gmail {
    color: #fe5000;
}

.linkedin {
    color: #1873B9;
}

.github {
    color: #000000;
}

.instagram {
    color: #f900bb;
}

.telegram {
    color: #2DA3E0;
}

@media(max-width:540px) {
    .conact-box {
        font-size: 0.75rem;
    }

    .contact-div-box .sub-head-2 {
        font-size: 1rem;
    }

    .con-icon {
        font-size: 1rem;
    }

    .contact-div {
        padding: 0.75rem 0.75rem;
    }
}

@media(max-width:400px) {
    .conact-box {
        font-size: 0.5rem;
    }

    .contact-div-box .sub-head-2 {
        font-size: 0.9rem;
    }

    .con-icon {
        font-size: 0.85rem;
    }

    .contact-div {
        padding: 0.5rem 0.5rem;
    }
}

/* ======================
Footer section
====================== */

.footer {
    /* padding: 1rem; */
    background-color: #343434;
    height: 4rem;
    color: #fdedb1;
    font-family: 'Taviraj', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 1.2rem;
}

@media(max-width:540px) {
    .footer p {
        font-size: 1rem;
    }
}

@media(max-width:400px) {
    .footer p {
        font-size: 0.75rem;
    }
}